/* _content/TvLicenceProject/Shared/MainLayout.razor.rz.scp.css */
.page[b-tbuslxnufd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-tbuslxnufd] {
    flex: 1;
}

.sidebar[b-tbuslxnufd] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tbuslxnufd] {
    background-color: #000000;
    border-bottom: 1px solid #000000;
    justify-content: flex;
    height: 4.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    align-content: left;
}

    .top-row[b-tbuslxnufd]  a, .top-row .btn-link[b-tbuslxnufd] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-tbuslxnufd] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tbuslxnufd] {
        display: none;
    }

    .top-row.auth[b-tbuslxnufd] {
        justify-content: space-between;
    }

    .top-row a[b-tbuslxnufd], .top-row .btn-link[b-tbuslxnufd] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tbuslxnufd] {
        flex-direction: row;
    }

    .sidebar[b-tbuslxnufd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tbuslxnufd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-tbuslxnufd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#govBannerHeading[b-tbuslxnufd]{
    color: #ffffff;
    text-align: center;
    
}

.govuk-width-container[b-tbuslxnufd] {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.govuk-header__container[b-tbuslxnufd] {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    border-bottom: 10px solid #1d70b8;
}


.govuk-header_container[b-tbuslxnufd] {
    padding: 20px;

    margin-left: 100px;
    max-width: 100px;

}
/* _content/TvLicenceProject/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-bym5seohhb] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-bym5seohhb] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-bym5seohhb] {
    font-size: 1.1rem;
}

.oi[b-bym5seohhb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-bym5seohhb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-bym5seohhb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-bym5seohhb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-bym5seohhb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-bym5seohhb]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-bym5seohhb]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-bym5seohhb] {
        display: none;
    }

    .collapse[b-bym5seohhb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
