@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.govuk-button, .govspeak .gem-c-button, .gem-c-govspeak .gem-c-button {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    /* font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875; */
    box-sizing: border-box;
    /* display: inline-block; */
    position: relative;
    /* width: 100%; */
    margin-top: 0;
    /* margin-right: 0; */
    margin-left: 0;
    /* margin-bottom: 22px; */
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

.govuk-width-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.fulllength{
    /* width: 280px; */
    width:50%;
}

.halflength{
    width:25%;
}

.dateComp{
    width: 60px;
}

.cscnumber{
    width:80px;
}

.payment-form, #CourtDivision, input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"] {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: .2rem inset;
    border: .2rem solid #0b0c0c;
    padding: .2rem 0 .2rem .4rem;
    background-color: #fff;
}

.payment-form, #CourtDivision, input[type="text"], input[type="search"], input[type="checkbox"], input[type="reset"], input[type="email"], input[type="password"], textarea, select {
    font-size: 19px;
    line-height: 1.3157894737;
}

.payment-form, #CourtDivision, input[type="text"], input[type="search"], input[type="checkbox"], input[type="reset"], input[type="email"], input[type="password"], textarea, select {
    font-family: "nta",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    /* width: 100%; */
    max-width: 32rem;
}

#ExpiryMonth, #ExpiryYear{
    /* float:left;  */
    display:inline; 
}

#span{
    padding-left: 30px;
}

.pad-down{
    margin-bottom: 5px;
}

blockquote {
    margin: 0;
}

blockquote {
    padding: 15px;
    background:lightgray;
    border-radius: 5px;
}

#gray-back{
    padding: 15px;
    background:lightgray;
    border-radius: 5px;
}

h5, h3{
    display: block;
    
    
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.normal-font{
    font-weight: normal;
}

a {
    text-decoration: underline;
}

h1 a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

h1 a:hover{
    color: white;
}

/* tr.separated td, td {
    set border style for separated rows
    border-bottom: 1px solid rgb(121, 121, 121);
}  */

/* table {
    make the border continuous (without gaps between columns)
    border-collapse: collapse;
} */

