@page "/financedetails"
@inject NavigationManager UriHelper

<h1>Payment Details</h1>

Please fill out your payment details:

<button class="govuk-button" @onclick=@Navigate>Submit payment details</button>

@code {
void Navigate()
{
    UriHelper.NavigateTo("paymentconfirmation");
}
}
