@page "/financedetails"
@inject NavigationManager UriHelper
@using TvLicenceProject.Data
@inject UserInfo User
@inject UserDatabase Database


<h3> Let's check the fine! </h3>
@Database.UserReturn(User).UserSurname
@Database.UserReturn(User).LicenceNumber
@Database.FineReturn(User)

<div class="govuk-width-container">
  <br>
  <h1>Enter card details</h1>
  <br>
  <div>
    <EditForm Model=@User>

      <h5>Card number</h5>
      @* <label for="CardNumber">Card number</label>  *@
   
      <InputText id="CardNumber" class="payment-form fulllength" @bind-Value=User.CardNumber />
    

      <br>

      <h5>Expiry date</h5>
   
      <p>For example. 10/20</p>
    
    
      <label for="ExpiryMonth">Month</label>
      <span id="span"></span>
      <label for="ExpiryYear">Year</label>
      <br>
   
      <InputText id="ExpiryMonth" class="payment-form dateComp" @bind-Value=User.ExpiryMonth />
      /
      <InputText id="ExpiryYear" class="payment-form dateComp" @bind-Value=User.ExpiryYear />
      
      <br>
      <br>

      <h5>Name on card</h5>
     
      <InputText id="CardName" class="payment-form fulllength" @bind-Value=User.CardName />
      <br>
    
      <h5>Card security code</h5>

      <p> The last 3 digits on the back of the card</p>
    
      <InputText id="CardSecurity" class="payment-form cscnumber" @bind-Value=User.CardSecurity />
      
      <br>
      <br>


      <h3>Billing Address</h3> 
      <p> This is the address associated with the card</p>
  
      <h5>Building address or name and street</h5>
   
      <InputText id="BillingStreet" class="payment-form pad-down fulllength" @bind-Value=User.BillingStreet />
      <InputText id="BillingStreet" class="payment-form fulllength" @bind-Value=User.BillingStreet />

      <br>

      <h5>City</h5>
      <InputText id="BillingCity" class="payment-form pad-down halflength" @bind-Value=User.BillingCity />
      <br>
      <h5>Postcode</h5>
      <InputText id="BillingPostCode" class="payment-form cscnumber" @bind-Value=User.BillingPostcode />

      <br>
      <h5>Email</h5>

      <p>We'll send your billing confirmation here</p>
    
      <InputText id="BillingEmail" class="payment-form fulllength" @bind-Value=User.BillingEmail />

      <br>  

      <blockquote class="fulllength">
        An email will be sent to:
        <br>
        <b>'Add Update when typed: Email Address'</b>
      </blockquote>

      <br>

      <button class="govuk-button" type="submit" value="submit" @onclick=@Navigate>Continue</button>
    </EditForm>
  </div>
  <br>


    <a href='/'>Cancel payment</a>

    <br>
    <br>
</div>

@code
{
  
  
  void Navigate()
{
    UriHelper.NavigateTo("paymentconfirmation");
}

}
