@page "/"

<h2>Pay a TV Licence Fine</h2>

You can pay a tv licence fine online or by phone.
<br>

You can use this service to pay the following in Northern Ireland:
<br>
<br>
    TV licence fines
<br>
<br>
There are different services for paying offender levies and unlicensed use compensation.
<br>
The process is different in England, Scotland and Wales.
<br>
<h2>How to pay</h2>

You need your ‘notice of fine’ and a debit or credit card. If you’ve lost your notice of fine, contact the court where you received the fine.
<br>
You must pay by the date given in your notice of fine. The court might reject your payment if enforcement action has already started.
<br>
If you were fined at a Crown Court, you need your account number and division code.
<br>
<h2>Pay online</h2>
<br>
You can pay online using the court fines service.
<br>
<br>

<button class="btn btn-primary" @onclick="location.href='/userdetails'">Start Now</button>