@page "/"

<h1>Pay a TV Licence Fine</h1>

You can pay a tv licence fine online or by phone.

You can use this service to pay the following in Northern Ireland:

    TV licence fines
   
There are different services for paying offender levies and unlicensed use compensation.

The process is different in England, Scotland and Wales.

<h1>How to pay</h1>

You need your ‘notice of fine’ and a debit or credit card. If you’ve lost your notice of fine, contact the court where you received the fine.

You must pay by the date given in your notice of fine. The court might reject your payment if enforcement action has already started.

If you were fined at a Crown Court, you need your account number and division code.

<h1>Pay online</h1>

You can pay online using the court fines service.




<SurveyPrompt Title="Click here to input your user details." />
