@page "/landingpage"
@inject NavigationManager UriHelper

<div class="govuk-width-container">
    <br>
    <h1>Pay a TV Licence Fine</h1>

    <br>

    You can use this service to pay the following in Northern Ireland:
    <br>
    <br>
        TV licence fines
    <br>
    <br>
    There are different services for paying offender levies and unlicensed use compensation.
    <br>
    The process is different in England, Scotland and Wales.
    <br>
    <br>

    <h3>Need to have...</h3>
    <ul>
        <li>Notice of fine document</li>
        <li>debit/credit card</li>
    </ul>
    <a href="">> Lost your notice of fine document?</a>
    <br>
    <br>
    @* You must pay by the date given in your notice of fine. The court might reject your payment if enforcement action has already started.
    <br>
    If you were fined at a Crown Court, you need your account number and division code.
    <br> *@
  
    <br>

    <button class="govuk-button" @onclick=@Navigate>Pay Fine</button>
</div>

@code {
void Navigate()
{
    UriHelper.NavigateTo("userdetails");
}
}