@page "/paymentconfirmation/{User}"
@inject NavigationManager UriHelper
@using TvLicenceProject.Data
@inject UserInfo UserInfo

<h1>Please check you input the right details:</h1>
<br>
<br>
@* Name on Card: @User.CardName
<br>
etc, etc.

<button class="govuk-button" @onclick=@Navigate>Pay</button>

@code {
void Navigate()
{
    UserInfo User = @User;
    UriHelper.NavigateTo("paymentreceipt");
}
} *@