@page "/paymentreceipt"
@using TvLicenceProject.Data
@inject UserInfo User
@inject UserDatabase Database

<div  class="govuk-width-container">
    <h1>Payment complete</h1>
    <br>
    <br>
    <br>
    Payment Reference number: 12345678910
    <br> 
    Amount paid: @Database.UserReturn(User).UserFine
    <br>
    Date:  30/09/2021
    <br>
    <br>
    <br>
    Your payment was successful.
    A confirmation email was sent to your email address
</div>