@page "/paymentconfirmation"
@inject NavigationManager UriHelper

<h1>Please check you input the right details:</h1>
<br>
<br>
<br>
etc, etc.

<button class="btn btn-primary" @onclick=@Navigate>Pay</button>

@code {
void Navigate()
{
    UriHelper.NavigateTo("paymentreceipt");
}
}