@page "/paymentreceipt"
<div  class="govuk-width-container">
    <h1>Payment complete</h1>
    <br>
    <br>
    <br>
    Payment Reference number:
    <br> 
    Amount paid:
    <br>
    Date: 
    <br>
    <br>
    <br>
    Your payment was successful.
    A confirmation email was sent to your email address
</div>