@page "/paymentconfirmation/{User}"
@inject NavigationManager UriHelper
@using TvLicenceProject.Data
@inject Data.UserInfo UserInfo

<h1>Please check you input the right details:</h1>
<br>
<br>
Name on Card: @UserInfo.CardName

<br>
etc, etc.

<button class="btn btn-primary" @onclick=@Navigate>Pay</button>

@code {
void Navigate()
{

    UriHelper.NavigateTo("paymentreceipt");
}
}