@page "/userdetails"
@inject NavigationManager UriHelper
@using TvLicenceProject.Data
@inject Data.UserInfo UserInfo

<h1>Hello, world!</h1>

Please enter your user details.

<EditForm Model=@UserInfo>
<ul>
  <label for="CourtDivision">Court Division</label>
  <InputText id="CourtDivision" @bind-Value=User.CourtDivision />
</ul>
<ul>
  <label for="AccountNumber">Account Number</label>
  <InputText id="CourtDivision" @bind-Value=User.AccountNumber />
</ul>
<ul>
  <label for="LicenceNumber">TV Licence Number</label>
  <InputText id="CourtDivision" @bind-Value=User.LicenceNumber />
</ul>
<ul>
  <label for="UserSurname">Surname</label>
  <InputText id="CourtDivision" @bind-Value=User.UserSurname />
</ul>
<ul>
  <label for="UserPostcode">Postcode</label>
  <InputText id="CourtDivision" @bind-Value=User.UserPostcode />
</ul>

  <button class="govuk-button" type="submit" value="submit" @onclick=@Navigate>Submit details</button>
</EditForm>


@code
{
  UserInfo User = new UserInfo();
}

Please Fill out user details:

<br>
<br>

@code {
void Navigate()
{
    UriHelper.NavigateTo("financedetails");
}
}
