@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        
        <div class="top-row px-4 govuk-header__container">
            <div class="govuk-header_container" >
                <h1 id="govBannerHeading"; align="left">GOV.UK</h1>
            </div>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
